.PR{
    position: static;
    box-sizing: 1s0px;
    margin-bottom: 1em;
}

.Course1{
    width: auto;
    position: static;
    top: 20px;
    text-align: center;
    font-size: x-large;
    margin-top: 65em;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    left: 1%;

}


