

.engCover{
    background-size: cover;
    border: 1px solid rgb(18, 5, 206);
    width: 100%;
}

.position-relative2{
    position: relative;
    box-sizing: content-box;
    margin-bottom: 1cm;
}

.Reach{
    left: 1%;
    top: 50%;
    position: absolute;
    text-align: center;
    font-size: x-large;
    background-color: rgba(2, 2, 31, 0);
    left: 5%;
    display:engCover;
    bottom: 1cm;

}




@media screen and (max-width: 768px) {
    .Reach{
    text-align: center;
    font-size: small; 
    bottom: inherit;
    margin: .25rem 0px;
    }
}
