.AboutUs{
    height: fit-content;
    width: fit-content;
}



.PicOfUs{
    object-fit: contain;
    object-fit: cover;
    background-size: cover;
    border: 1px solid rgb(176, 175, 230);
    width: 100%;
}




.position-relative{
    position: relative;
    box-sizing: content-box;

}

figcaption{
    left: 30%;
    top: 50%;
    position: absolute;
    color: rgb(255, 255, 255);
    background-color: rgb(92, 92, 223);
    
    text-align: center;
    font-size: medium;
    

}

@media screen and (max-width: 768px) {
    figcaption{
    text-align: center;
    font-size: small;
    }
}

.Con1{
    width: 100%;
    height: 100%;
}