

.nav-menu{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 15px;
    list-style: none;
    text-align: center;
    width: 75vw;
    justify-content: end;
    margin-right: 2rem;
    color: rgb(190, 16, 16);
}


/* Navbar routing links */
.nav-links{
    color:black;
    text-decoration: none;
    padding:0.5rem 0.9rem ;
}


.nav-links:hover{
    background-color: #564f71;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}
.fa-bars{
    color: white;
}
.nav-links-mobile{
    display: none;
}
.menu-icon{
    display:none;
}