#ContactForm{
    background-color:#f6f8f7;
    align-items:center;
}

#text{
    text-align: center;
}

mark.red{
    color:red;
    background: none;
    }

#MsgBtn{
text-align: center;
background-color: #2a47a9;
color: white;
border: black 1px;
display: block;
margin: auto;
margin-bottom: 1rem;
}