fonts = {
    header: 'Poppins',
    menu: 'Poppins'
  },
  colorPalette = {
    bgColor1: 'rgba(67, 67, 67, 0.8)',
    bgColor2: 'rgba(0, 0, 0, 0.8)',
    fontColor: 'rgba(161, 161, 161)',
    fontColorSelected: 'rgba(255, 255, 255)',
    dividerColor: 'rgba(48, 48, 48)',
    selectedBackgroundCollapsedMode: 'light'
  },
  presetPalette = '',
  widthExpanded = '20%',
  widthCollapsed = '5%',
  minWidth = '80px',
  maxWidth = '280px',
  className = {},
  isOpen = true,
  showToggler = true,
  onTogglerClick = null,
  onHeaderClick = null,
  onMenuItemClick = null,
  onSubMenuItemClick = null
} = props;
