
  :root {
    --heights: 75vh;
    --widths: 80%;
  }
  .theBigdiv{
    height: 500px;
  }
  
  .slider-container {
    height: 450px;
    width: 60%;
    position: relative;
    margin: auto;
    
  }
  
  .active {
    display: inline-block;
  }
  
  .inactive {
    display: none;
  }
  
  .slides {
    height: var(--heights);
    width: var(--widths);
  }
  
  .slide-image {
    width: 100%;
    height: 80%;
    position: absolute;
    object-fit: contain;
  }
  
  .slide-text {
    width: 100%;
    height: 10%;
    color: rgb(41, 45, 82);
    font-size: 50px;
    position: absolute;
    text-align: center;
    top: 60%;
    font-size: 25px;
    z-index: 10;
    margin-top: 15%;
    margin-bottom: 5%;
  }
  
  
  .prev,
  .next {
    cursor: pointer;
    z-index: auto;
    position: absolute;
    top: 50%;
    width: auto;
    padding:  0;
    margin-top: 0;
    font-size: 40px;
    font-weight: lighter;
    border-radius: 0px 5px 5px 0px;
  }
  
  .prev:hover,
  .next:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(211, 147, 10, 0.6);
    transition: all 0s ease-in;
  }
  
  .next {
    right: 0;
    border-radius: 5px 0px 0px 5px;
  }
  
  .all-dots {
    width: 100%;
    position: absolute;
    display: flex;
    top: 85%;
    justify-content: center;
    z-index: 200;
  }
  
  .dot {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0px 3px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    display: inline-block;
  }
  
  .active-dot,
  .dot:hover {
    background-color: rgba(31, 31, 214, 0.574);
  }
  .section1{
    height: 75%;
    width: 100%;
  }
  
  .slidesactive{
    height: 100%;

  }
